<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "syy.servlet_implements.dao.UserDao">
    <select id="login" resultType="syy.servlet_implements.entity.User">
        SELECT id,username,password
        FROM user
        WHERE username = #{username} AND password = #{password} <!-- 对象中取出的字段值 -->
    </select>
</mapper>