<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>syy.servlet_learning.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>syy.servlet_learning.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>

<!--    <servlet>-->
<!--      <servlet-name>default</servlet-name>-->
<!--      <servlet-class>syy.servlet_learning.Default</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--      <servlet-name>default</servlet-name>-->
<!--      <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->

<!--  初始数据提取-->
  <filter>
    <filter-name>FirstFilter1</filter-name>
    <filter-class>syy.filter_learning.FilterLearning</filter-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>jason</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter1</filter-name>
    <!--根据路径只过滤这个Servlet-->
    <!--        <url-pattern>/tff</url-pattern>-->

    <!--根据Servlet名称只过滤这个Serlvet-->
    <servlet-name>ShowServlet</servlet-name>
  </filter-mapping>

<!--  防乱码-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>syy.filter_learning.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--  过滤脏话-->
  <filter>
    <filter-name>SensitiveWordFilter</filter-name>
    <filter-class>syy.filter_learning.SensitiveWordFilter</filter-class>
    <init-param>
      <param-name>word1</param-name>
      <param-value>shit</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SensitiveWordFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--  timeout-->
  <session-config>
    <session-timeout>10</session-timeout> <!--    10 min-->
  </session-config>

<!--  xml配置-->
  <listener>
    <listener-class>syy.listener_learning.FirstListener</listener-class>
  </listener>

</web-app>
