# Default ignored files
/shelf/
/workspace.xml
/encodings.xml
/uiDesigner.xml
/runConfigurations/Tomcat9.xml
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e.xml
/dataSources.local.xml
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e/storage_v2/_src_/schema/java_practice.uE5tjw.meta
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e/storage_v2/_src_/schema/mysql.osA4Bg.meta
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/dataSources/4ec01e77-cc45-4969-870b-156e7a9d6e3e/storage_v2/_src_/schema/sys.zb4BAA.meta
